.container{
    margin-top: 100px;
}

.div1{
    padding: 10px;
    border: 5px solid pink;
    margin: 5px;
    display: inline-block;
}

.activate{
    height: 200px;
}
p{
    color: blue ;
    font-size: 3em;
    font-family: fantasy;
}
p{
    color: pink;
}